name: Checks

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  checks:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10"]
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install
      run: |
        python -m pip install -U pip
        pip install mypy==0.790 black
    - name: black
      run: black . --check --diff
    - name: mypy
      run: mypy .